body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

/**
***** 5. Portfolio Section Starts */
.portfolio-area {
    background-color: #ffdd99;
    padding: 75px 0;
}

.portfolio-area h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 14px;
    letter-spacing: 0.05em;
    color: #393939;
}

.portfolio-area hr {
    width: 90px;
    margin: auto;
    border-bottom: 3px solid #e5c37f;
}

.portfolio-area .container> p {
    text-align: center;
    color: #393939;
}

.portfolio-area .controls {
    padding: 60px 0 70px;
    text-align: center;
}

.portfolio-area .controls button {
    display: inline-block;
    margin: 0 10px;
    color: #393939;
    background-color: #ebc985;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 5px;
    transition: 300ms;
}

.portfolio-area .controls button:hover {
    background-color: #ffffffc0;
}

.portfolio-area .controls button.mixitup-control-active {
    background-color: #fff;
}

.portfolio-area .portfolio-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.portfolio-area .portfolio-container .portfolio-item {
    width: 40%;
    margin: 15px 0;
}

.portfolio-area .portfolio-container .portfolio-item .photo-container img {
    width: 100%;
}

.portfolio-area .portfolio-container .portfolio-item h5 {
    font-size: 18px;
    color: #393939;
}

.portfolio-area .button {
    text-align: center;
    margin: 40px 0;
}

.portfolio-area .button a {
    text-decoration: none;
    padding: 25px 70px 21px;
    color: white;
    font-weight: bold;
    background-color: #17c2a4;
    border-bottom: 4px solid #14a58c;
    border-radius: 5px;
    transition: 300ms;
}

.portfolio-area .button a:hover {
    background-color: #14a58c;
}

/**
***** Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    
    /* 1. Header Section */
    .services-area h2,
    .portfolio-area h2,
    .contact-area h2,
    .team-area h2,
    .skills-area h2 {
        font-size: 26px;
    }
    header {
        padding: 30px 0 60px;
    }
    header .header-top .logo-area {
        position: relative;
        top: 50px;
    }
    header .header-top .header-menu ul li {
        list-style: none;
        display: block;
        margin: 0 0 5px;
    }
    header .header-top .header-menu ul li a {
        padding: 5px 9px;
    }
    header .header-action {
        margin: 50px 0;
        text-align: center;
    }
    header .header-action h1 {
        font-size: 28px;
    }

    /* 2. Services Section ,
    ** 3. Team Section Starts ,
    ** 4. Skill Section Starts,
    ** 5. protfolio Area Starts */
    .services-area .service-container,
    .team-area .member-container,
    .skills-area .skill-container {
        flex-wrap: wrap;
    }

    .services-area .service-container .service-item,
    .team-area .member-container .member-item,
    .skills-area .skill-container .skill-item,
    .portfolio-area .portfolio-container .portfolio-item {
        width: 45%;
        margin: 0;
        padding: 0 0 50px 0;
    }

    /* 5. protfolio Area Starts */
    .portfolio-area .controls button {
        margin: 0 10px;
        padding: 5px 10px;
    }
    .portfolio-area .button a {
        padding: 13px 35px 11px;
    }

@media screen and (max-width: 578px) {
    .services-area .service-container,
    .team-area .member-container,
    .skills-area .skill-container,
    .portfolio-area .portfolio-container {
        justify-content: space-around;
    }
    .services-area .service-container .service-item,
    .team-area .member-container .member-item,
    .skills-area .skill-container .skill-item,
    .portfolio-area .portfolio-container .portfolio-item {
        width: 80%;
        margin: 0;
    }
}